div.ip-entity
  span(ng-bind="match.label.name")
  | &nbsp;
  span.text-muted(
    ng-if="match.label.reserved"
    translate="entity.search.RESERVED"
  )
  br
  small
    span.text-muted(
      ng-if="!match.label.server && !match.label.group"
      translate="entity.search.EMPTY"
    )

    span(ng-bind="match.label.group.name")
    span(ng-if="match.label.server")
      span(ng-if="match.label.group") &nbsp;-&nbsp;
      span(ng-bind="match.label.server.name")
