.btn-group.btn-group-lg
  a.btn.btn-success(
    ng-click="buttons.syncChildren()"
    translate="pxe.file.buttons.SYNC_CHILDREN"
  )
  a.btn.btn-danger(
    ng-click="buttons.delete()"
    translate="pxe.file.buttons.DELETE"
  )
