.btn-group.btn-group-lg
  a.btn.btn-warning(
    ng-click="buttons.overwrite()"
    translate="template.suggested-change.buttons.OVERWRITE"
  )
  a.btn.btn-danger(
    ng-click="buttons.delete()"
    translate="template.suggested-change.buttons.DELETE"
  )
