h2(
  translate='pxe.templateSuggestedChange.form.title.EDIT'
  translate-value-name='{{vm.edit.input.name}}'
)

template-suggested-change-buttons(templateSuggestedChange="vm.edit.input")


template-suggested-change-form(form="vm.edit")  

