h3(
  translate='template.suggested-change.view.TITLE'
  translate-value-name='{{vm.edit.input.name}}'
)

ul
  li(ng-repeat="entry in vm.edit.input.changelog" ng-bind="entry")

template-suggested-change-buttons(template-suggested-change="vm.edit.input")
template-suggested-change-form(form="vm.edit")

