extends /resources/jade/list-checkable

block title
  | Logs

block headings
  th.relative User
    sort(col="user")
  th.relative IP Address
    sort(col="ip")
  th.relative Description
    sort(col="desc")
  th.relative Type
    sort(col="type")
  th.relative Date
    sort(col="created_at")
  th Actions

block columns
  td
    log-user(log="vm.log")
  td {{ row.ip }}
  td {{ row.desc }}
  td
    span(ng-if="row.target") {{ row.target.name }} ({{row.target.singular}})
    span(ng-if="!row.target") -
  td {{ row.created_at }}
  td
    .btn-group.btn-group-xs
      a.btn.btn-default(ui-sref="app.system.log.view({id: row.id})")
        | {{ 'app.action.VIEW' | translate }}
