.btn-group.btn-group-lg

  a.btn.btn-info(
    ui-sref="app.system.integration.view.key.list({id: buttons.integration.id})"
    translate="system.integration.buttons.KEYS"
  )
  a.btn.btn-danger(
    ng-click="buttons.delete()"
    translate="system.integration.buttons.DELETE"
  )
