.no-margin {
  margin: 0;
  >.pagination {
    margin: 0;
  }
}

.no-padding {
  padding: 0 !important;
}

.pad-right {
  padding-right: $grid-gutter-width/2 !important;
}

.v-mid {
  vertical-align: middle;
}

.relative {
  position: relative;
}

.no-hover {
  cursor: default;
}

.scroller {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.fill-panel {
  margin: -1px;
  box-sizing: content-box;
  width: 96%;
  padding: 10px 2%;
  position: relative;
  z-index: 1;
  border-radius: 0;
}
