.no-margin {
  margin: 0;
  >.pagination {
    margin: 0;
  }
}

.block {
  display: block;
}

.no-padding {
  padding: 0 !important;
}

.pad-right {
  padding-right: $grid-gutter-width/2 !important;
}

.v-mid {
  vertical-align: middle;
}

.relative {
  position: relative;
}

.no-hover {
  cursor: default;
}

.scroller {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.fill-panel {
  margin: -1px;
  box-sizing: content-box;
  width: 96%;
  padding: 10px 2%;
  position: relative;
  z-index: 1;
  border-radius: 0;
}

.progress-min-text .progress-bar {
  min-width: 2em;
}

.progress-bar {
  max-width: 100%;
}

.nav.nav-tabs {
  cursor: initial;
}

$gutter: 15px;

.floating-bar {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: $gutter;
  margin-top: $gutter;

  &.float-right {
    right: 0;
    left: auto;
    margin-left: 0;
    margin-right: $gutter;
  }
}

.no-margin {
  margin: 0 !important;
}

.hoverable:hover .show-hover {
  opacity: 1;
  z-index: 999;
}

.show-hover {
  opacity: 0;
  z-index: -1;
  transition: opacity .5s ease, z-index .5s ease;
}

.editable {
  position: relative;
}

.editable .show-hover {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.unpadded-content .tab-content {
  padding: 0;
}

.panel {
  display: block;
}

.border-top-table {
  &.table, .table {
    border-top: 1px solid #eee !important;
  }
}

.per-page {
  width: 90px;
}

.margin-left {
  margin-left: $gutter !important;
}
