.full-size-lists list {
  display: block;
  margin: -10px -20px;

  .panel {
    margin-bottom: 0;
  }

  .table {
    margin-bottom: 0;
    border-left: none;
    border-right: none;
    border-top: none;

    td, th {
      &:first-child {
        border-left: none;
      }
      &:last-child {
        border-right: none;
      }
    }
  }
}
