.loader {
  position: absolute;
  transition: z-index 0.5s,opacity 1s ease;
  opacity: 0;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.1);

  &:after {
    position: absolute;
    display: block;
    transition: top 1s ease;
    top: 30%;
    left: 50%;
    margin: -8px 0 0 -8px;
    width: 16px;
    height: 16px;
    background: url(../../assets/img/icons/loading.gif);
    content: " ";
  }
}

.loading {
  .loader, &.loader {
    z-index: 100;
    opacity: 1;
    cursor: auto;

    &:after {
      top: 50%;
    }
  }
}
