.table {
  tr {
    th, td {
      &.border-only {
        padding: 0px;
      }
    }
  }
  &.mid-aligned, tr.mid-aligned {
    td, th {
      vertical-align: middle;
    }
  }
  &.table-no-edge-border {
    td, th {
      &:first-child {
        border-left: none;
      }
      &:last-child {
        border-right: none;
      }
    }
    tr:last-child td {
      border-bottom: none;
    }
  }
}

table {
  td.shrink, th.shrink {
    white-space: nowrap;
    width: 1px;
  }
}

.sortable {
  position: relative;
  padding-right: 8px;
}
