.table {
  tr {
    th, td {
      &.border-only {
        padding: 0px;
      }
    }
  }
  &.mid-aligned, tr.mid-aligned {
    td, th {
      vertical-align: middle;
    }
  }
}

table {
  td.shrink, th.shrink {
    white-space: nowrap;
    width: 1px;
  }
}
