extends /resources/angle/pug/table-checkable

block headings
  th(ng-if="table.showName") Name
  th(ng-if="table.showChangelog") Changelog
  th Actions

block columns
  td
    a(
      ui-sref="app.system.template.suggested-change.view({id: row.id})"
      ng-bind="row.name"
    )
  td
    ul.no-margin(style="padding-left: 15px")
      li(ng-repeat="entry in row.changelog" ng-bind="entry")
  td
    .btn-group.btn-group-xs
      a.btn.btn-default(
        ui-sref="app.system.template.suggested-change.view({id: row.id})"
        translate="app.action.EDIT"
      )
