.btn-group.btn-group-lg
  a.btn.btn-danger(
    ng-click="buttons.delete()"
    translate="forward.gateway.buttons.DELETE"
  )
  a.btn.btn-primary(
    ng-click="buttons.resync()"
    translate="forward.gateway.buttons.RESYNC"
  )
