extends /resources/angle/pug/modal.information.pug
include /resources/angle/pug/mixins/form.pug

block body
  p A new version of SynergyCP is available. This time, it will require a shell command to update. The new version includes a new update process which will allow SynergyCP to update more of its components automatically, including all of the docker containers that the software uses. As a result, we will also be able to update more complex dependencies like the PHP version.
  p
    b Due to the complexity of this update, we recommend that you first make a database and configuration backup using our Backups Package as an extra precaution.
  p Once you've created a backup, you can run the following command as root on the master SynergyCP server to update the software. It will result in the application being unavailable for a few seconds while the new docker containers come online.
  code curl -q https://install.synergycp.com/bm/update/4.0.sh -o- | sh
