doctype html
include /resources/jade/mixins/form

+field(
  "{{ 'client.form.email.LABEL' | translate }}",
  "email"
)(
  ng-model="clientForm.input.email"
)

+field(
  "{{ 'client.form.password.LABEL' | translate }}",
  "password"
)(
  placeholder="{{ 'client.form.password.PLACEHOLDER' | translate }}"
  ng-model="clientForm.input.password"
)

+double-field(
  "{{ 'client.form.name.LABEL' | translate }}",
  "name", {
    "ng-model": "clientForm.input.first"
  }, {
    "ng-model": "clientForm.input.last"
  }
)

+field(
  "{{ 'client.form.billing_id.LABEL' | translate }}",
  "billing_id"
)(
  ng-model="clientForm.input.billing_id"
)
