extends /resources/jade/list-page
include /resources/jade/mixins/list

block list
  include client.list.jade

block bottom-left
  +create-form("{{ 'user.client.form.title.ADD' | translate }}")
    client-form(form="vm.create")

block bottom-right
  logs(
    title="Client Logs"
    filter="vm.logs.filter"
  )
