extends /resources/angle/pug/edit

block title
  span(
    translate='user.client.form.title.EDIT'
    translate-value-email='{{vm.edit.input.email}}'
  )

block form
  client-form(form="vm.edit")

block append right-side
  client-buttons(client="vm.edit.input")
