extends /resources/angle/pug/table-checkable

block headings
  th.relative Name
    sort(col="name")
  th.relative Billing ID
    sort(col="billing_id")
  th Servers
  th(ng-if="table.showActions") Actions

block columns
  td(ng-bind="row.name")
  td(ng-bind="row.billing_id")
  td(ng-bind="row.server_count")
  td(ng-if="table.showActions")
    .btn-group.btn-group-xs
      a.btn.btn-default(
        ui-sref="app.hardware.switch.speed.view.edit({id: row.id})"
        translate="app.action.EDIT"
      )
