extends /resources/pug/list-page
include /resources/pug/mixins/list

block list
  include switch.list.pug

block bottom-left
  +create-form("{{ 'hardware.switch.form.title.ADD' | translate }}")
    switch-form(form="vm.create")

block bottom-right
  logs(
    title="Switch Logs"
    filter="vm.logs.filter"
    listen-to="vm.list"
  )
