extends /resources/pug/list-page
include /resources/pug/mixins/list

block list
  list.panel.panel-default(list="vm.list")
    list-header(text="hardware.switch.list.TITLE")
    switch-table
    list-footer

block bottom-left
  +create-form("{{ 'hardware.switch.form.title.ADD' | translate }}")
    switch-form(form="vm.create")

block bottom-right
  logs(
    title="Switch Logs"
    filter="vm.logs.filter"
    listen-to="vm.list"
  )
