extends /resources/angle/pug/list-page
include /resources/angle/pug/mixins/list

block list
  include boot.list.pug

block bottom-left
  +create-form("{{ 'pxe.boot.form.title.ADD' | translate }}")
    boot-form(form="vm.create")

block bottom-right
  logs(
    title="PXE Boot Script Logs"
    filter="vm.logs.filter"
    listen-to="vm.list"
  )
