extends /resources/angle/pug/list-checkable

block title
  | Boot Scripts

block headings
  th Name
  th Actions

block columns
  td {{ row.name }}
  td
    .btn-group.btn-group-xs
      a.btn.btn-default(ui-sref="app.pxe.boot.view({id: row.id})")
        | {{ 'app.action.EDIT' | translate }}
