.form-inline
  select.form-control(ng-model="bulk.selected")
    option(value) {{ 'app.action.BULK' | translate }}
    option(
      ng-repeat="(name, __) in bulk.options"
      value="{{ name }}"
    )
      | {{ name }}
  | &nbsp;
  a.btn.btn-info(
    ng-click="bulk.submit()"
  ) Go
