extends /resources/angle/pug/list-page
include /resources/angle/pug/mixins/list

block list
  include group.list.pug

block bottom-left
  +create-form("{{ 'network.group.form.title.ADD' | translate }}")
    group-form(form="vm.create")

block bottom-right
  logs(
    title="Group Logs"
    filter="vm.logs.filter"
    listen-to="vm.list"
  )
