extends /resources/jade/list-page
include /resources/jade/mixins/list

block list
  include admin.list.jade

block bottom-left
  +create-form("Create Administrator")
    admin-form(
      input="vm.create.input"
    )

block bottom-right
  logs(
    title="Administrator Logs"
    filter="vm.logs.filter"
    listen-to="vm.list"
  )
