extends /resources/jade/edit

block title
  span(
    data-translate='admin.form.title.EDIT'
    data-translate-value-username='{{vm.edit.input.username}}'
  )

block form
  admin-form(form="vm.edit")
