/* ========================================================================
     Component: top-navbar
 ========================================================================== */

//
// Horizontal top navbar
// based on the bootstrap navbar styles and markup
// ----------------------------------------------------

// helper mixin to disable bs gradient mixin
@mixin gradient-remove() {
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

$nav-header-wd: $aside-wd;
$nav-header-wd-toggled: $aside-wd-collapsed;

$nav-top-bg: $brand-info;
$nav-top-bg-start: $nav-top-bg;
$nav-top-bg-end: $brand-info-light;
$nav-header-bg: transparent;

$nav-top-item-desktop: #e3e3e3;
$nav-top-item-desktop-active: #fff;

$nav-top-item-mobile: $nav-top-item-desktop;
$nav-top-item-mobile-active: $nav-top-item-desktop-active;

// Navbar top layout
.topnavbar {
  position: relative;
  -webkit-backface-visibility: hidden;
  /* fixes chrome jump */
  margin-bottom: 0;
  border-radius: 0;
  z-index: 1050;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.15);
  background-color: $nav-top-bg;
  @include gradient-vertical($nav-top-bg-end, $nav-top-bg-start);
  @include material-shadow();

  .navbar-text {
    color: #ccc;
  }

  .top-nav-links {
    position: absolute;
    top: -65px;
    transition: top .5s ease;
  }

  .navbar-header {
    background-color: $nav-header-bg;
    position: relative;
    // overlaps nav-wrapper
    z-index: 11;

    // Reset default to allow handle via different logo size
    .navbar-brand {
      padding: 0;
    }

    // Different Logo size depends on the navbar state
    .brand-logo,
    .brand-logo-collapsed {
      > img {
        margin: 0 auto;
      }
    }

    .brand-logo {
      display: block;
      padding: 15px;
    }

    .brand-logo-collapsed {
      display: none;
      padding: 10px 15px;
    }

    @include gradient-horizontal($nav-top-bg-start, $nav-top-bg-end);
    @media only screen and (min-width: $mq-tablet) {
      background-image: none;
    }
  }

  .navbar-nav {
    li {
      position: relative;
    }
    .open a,
    li a {
      color: $nav-top-item-mobile;

      &:focus,
      &:hover {
        color: $nav-top-item-mobile-active;
      }

      &.ico-link {
        line-height: 23px;
        text-align: center;
        padding: 12px 5px 0;

        .ico {
          font-size: 1.5em;
        }
      }

      .link-text {
        display: block;
      }

      .label {
        position: absolute;
        top: 27px;
        right: auto;
        left: auto;
        margin-left: 1.7em;
      }
    }

    // Navbar link active style
    .active a,
    .open a {
      &,
      &:focus,
      &:hover {
        background-color: transparent;
      }
    }
  }

  $search-height: $navbar-height;

  .search-wrapper {
    .search-navbar {
      .search-icon {
        display: block;
        float: left;
        margin: 24px 22px 0 10px;
        font-size: 1.4em;
        color: #ddd;
      }

      .search-form {
        float: left;
        margin: 0;
      }

      .search-input {
        height: $search-height;
        line-height: $search-height;
        font-size: 1.5em;
        background: transparent;
        border: none;
        font-weight: 300;
        color: #eee;

        &::-webkit-input-placeholder {
          color: rgba(250,250,250,.8);
        }
      }

      .search-icon,
      .search-input {
        text-shadow: 1px 1px 0 rgba(0,0,0,.3);
      }
    }
  }
  @media only screen and (min-width: $mq-tablet) {
    box-shadow: 0 0 0 #000;

    .navbar-header {
      width: $nav-header-wd;
      text-align: center;

      .navbar-brand {
        width: 100%;
      }
    }
  }
}
@media only screen and (max-width: $mq-up-to-tablet) {
  .nav-toggle {
    position: absolute !important;
    top: 0;
    right: 0;
    z-index: 3001;
    line-height: $navbar-height !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    // Add color only for the icon
    > em {
      color: white;
    }
  }
}

.sidebar-top .top-nav-links {
  top: 0;
}

// contains elements below header
.nav-wrapper {
  padding: 0 15px;
  background-color: transparent;

  // restore floating props for navbar items
  .nav.navbar-nav {
    float: left;

    &.navbar-right {
      float: right;
    }
  }

  .nav > li {
    position: static;
    float: left;
  }

  // fullwidth dropdowns
  .navbar-nav .open .dropdown-menu {
    position: absolute;
    background-color: rgb(255, 255, 255);
    left: 0;
    right: 0;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
  }
}

// Navbar Desktop styles
// ------------------------------
@media only screen and (min-width: $mq-tablet) {

  // Navbar top styles
  .topnavbar {
    // Dropdown link open style
    .navbar-nav > a {
      box-shadow: 0 0 0 #000 inset;
      @include transition(all .2s);
    }

    .navbar-nav .open a,
    .navbar-nav li a {
      color: $nav-top-item-desktop;

      &:focus,
      &:hover {
        color: $nav-top-item-desktop-active;
      }
    }
  }
  // .topnavbar

  .nav-wrapper {
    @include clearfix();
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    z-index: 10;

    // restore nav items positions
    .nav li {
      position: relative;
    }

    // restore opened dropdown
    .navbar-nav .open .dropdown-menu {
      left: auto;
      right: auto;
    }

    .navbar-nav.navbar-right .open .dropdown-menu {
      left: auto;
      right: 0;
    }
  }
}
@media only screen and (min-width: $mq-tablet) {
  .aside-collapsed {
    .topnavbar {
      .navbar-header {
        .brand-logo {
          display: none;
        }

        .brand-logo-collapsed {
          display: block;
        }
      }

      .navbar-header {
        width: $nav-header-wd-toggled;
      }

      .navbar-form {
        left: $nav-header-wd-toggled;
      }
    }
  }
}
