extends /resources/pug/list-page
include /resources/pug/mixins/list

block list
  include email.list.pug

block bottom-left
  logs(
    title="Email Template Logs"
    filter="vm.logs.filter"
    listen-to="vm.list"
  )
