extends /resources/jade/list-checkable

block title
  | Email Templates

block headings
  th Name
  th Subject
  th Actions

block columns
  td {{ row.name }}
  td {{ row.subject }}
  td
    .btn-group.btn-group-xs
      a.btn.btn-default(ui-sref="app.system.email.view({id: row.id})")
        | {{ 'action.EDIT' | translate }}
