extends /resources/jade/edit

block title
  span(
    data-translate='system.email.form.title.EDIT'
    data-translate-value-name='{{vm.edit.input.name}}'
  )

block form
  email-form(form="vm.edit")  
