extends /resources/angle/pug/list-page
include /resources/angle/pug/mixins/list

block list
  include preseed.table.pug

block bottom-left
  +create-form("{{ 'pxe.preseed.form.title.ADD' | translate }}")
    preseed-form(form="vm.create")

block bottom-right
  logs(
    title="PXE Preseed Logs"
    filter="vm.logs.filter"
    listen-to="vm.list"
  )
