extends /resources/jade/list-page
include /resources/jade/mixins/list

block list
  include speed.list.jade

block bottom-left
  +create-form("{{ 'hardware.speed.form.title.ADD' | translate }}")
    speed-form(form="vm.create")

block bottom-right
  logs(
    title="{{ 'hardware.speed.logs.TITLE' | translate }}"
    filter="vm.logs.filter"
    listen-to="vm.list"
  )
