extends /resources/angle/pug/list-page
include /resources/angle/pug/mixins/list

block list
  include speed.list.pug

block bottom-left
  +create-form("{{ 'speed.form.title.ADD' | translate }}")
    speed-form(form="vm.create")

block bottom-right
  logs(
    title="{{ 'speed.logs.TITLE' | translate }}"
    filter="vm.logs.filter"
    listen-to="vm.list"
  )
