extends /resources/angle/pug/table-checkable

block headings
  th.sortable(ng-if="table.showName") Name
    sort(col="name")
  th Actions

block columns
  td
    a(
      ui-sref="app.pxe.boot.view({id: row.id})"
      ng-bind="row.name"
    )
  td
    .btn-group.btn-group-xs
      a.btn.btn-default(
        ui-sref="app.pxe.boot.view({id: row.id})"
        translate="app.action.EDIT"
      )
