extends /resources/angle/pug/edit

block title
  span(
    translate="server.form.title.EDIT"
    translate-value-name="{{vm.edit.input.srv_id}}"
  )

block form
  server-form(form="vm.edit")

block append right-side
  server-buttons(
    server="vm.edit.input"
    show-edit="false"
  )
