nav.navbar.topnavbar(
  navbar
  dropdown-class="topnav-dropdown"
  role='navigation'
)
  .nav-wrapper
    top-nav-links

    ul.nav.navbar-nav.navbar-right
      li.search-wrapper
        top-nav-search

      li
        top-nav-account
