extends /resources/jade/list-page
include /resources/jade/mixins/list

block list
  include profile.list.jade

block bottom-left
  +create-form("Create PXE Profile")
    profile-form(input="vm.create.input")

block bottom-right
  logs(
    title="PXE Profile Logs"
    filter="vm.logs.filter"
    listen-to="vm.list"
  )
