extends /resources/pug/list-page
include /resources/pug/mixins/list

block list
  include profile.list.jade

block bottom-left
  +create-form("{{ 'pxe.profile.form.title.ADD' | translate }}")
    profile-form(form="vm.create")

block bottom-right
  logs(
    title="PXE Profile Logs"
    filter="vm.logs.filter"
    listen-to="vm.list"
  )
