extends /resources/angle/pug/list-checkable

block title
 | OS Reload Profiles

block headings
  th Name
  th Billing ID
  th Client Access
  th Actions

block columns
  td {{ row.name }}
  td {{ row.billing_id }} 
  td
    span.fa.fa-check.text-success(ng-if="row.access_client")
  td
    .btn-group.btn-group-xs
      a.btn.btn-default(ui-sref="app.pxe.profile.view({id: row.id})")
        | {{ 'app.action.EDIT' | translate }}
