extends /resources/jade/edit

block title
  span(
    data-translate='pxe.profile.form.title.EDIT'
    data-translate-value-name='{{vm.input.name}}'
  )

block form
  div(ng-include="'app/pxe/profile/profile.form.html'")
