extends /resources/angle/pug/table-checkable

block headings
    th Name
    th Host

block columns
    td
        a(
        ui-sref="app.pxe.dhcp.view({id: row.id})"
        ng-bind="row.name"
        )
    td(
    ng-bind="'http'+(row.http.use_https ? 's' : '')+'://'+row.http.host+':'+ row.http.port"
    )