extends /resources/jade/list-page
include /resources/jade/mixins/list

block list
  include shell.list.jade

block bottom-left
  +create-form("Create PXE Shell Script")
    shell-form(input="vm.create.input")

block bottom-right
  logs(
    title="PXE Shell Script Logs"
    filter="vm.logs.filter"
    listen-to="vm.list"
  )
