extends /resources/pug/list-page
include /resources/pug/mixins/list

block list
  include shell.list.pug

block bottom-left
  +create-form("{{ 'pxe.shell.form.title.ADD' | translate }}")
    shell-form(form="vm.create")

block bottom-right
  logs(
    title="PXE Shell Script Logs"
    filter="vm.logs.filter"
    listen-to="vm.list"
  )
