div.switch
  span(ng-bind="match.label.name")
  br
  small
    span.text-muted(
      translate="switch.search.PORTS"
      translate-value-server-ports-count="{{ match.label.serverPortsCount }}"
    )
