extends /resources/jade/list-page
include /resources/jade/mixins/list

block list
  include entity.list.jade

block bottom-left
  +create-form("{{ 'network.entity.form.title.ADD' | translate }}")
    entity-form(
      form="vm.create"
    )

block bottom-right
  logs(
    title="Entity Logs"
    filter="vm.logs.filter"
    listen-to="vm.list"
  )
