extends /resources/jade/list-page
include /resources/jade/mixins/list

block list
  include entity.list.jade

block bottom-left
  +create-form("Create Entity")
    entity-form(input="vm.create.input")

block bottom-right
  logs(
    title="Entity Logs"
    filter="vm.logs.filter"
    listen-to="vm.list"
  )
