extends /resources/jade/edit

block title
  span(
    data-translate='client.form.title.EDIT'
    data-translate-value-email='{{vm.input.email}}'
  )

block form
  client-form(
    input="vm.input"
  )
