extends /resources/jade/edit

block title
  span(
    data-translate='client.form.title.EDIT'
    data-translate-value-email='{{vm.input.email}}'
  )

block form
  div(ng-include="'app/user/client.form.html'")
