extends /resources/angle/pug/table

block headings
  th.sortable
    span(translate="switch.port.list.heading.PORT")
    sort(col="port")
  th.sortable
    span(translate="switch.port.list.heading.OWNER")
    sort(col="owner")
  th.sortable
    span(translate="switch.port.list.heading.SPEED")
    sort(col="speed")
  th.sortable
    span(translate="switch.port.list.heading.usage.PERCENT")
    sort(col="usage.percent")
  th.sortable
    span(translate="switch.port.list.heading.usage.MAX")
    sort(col="usage.max")

block columns
  td
    span(ng-bind="row.name")
  td
    a(
      ng-if="row.owner"
      ng-bind="row.owner.server.name"
      ui-sref="app.hardware.server.view.manage({ id: row.owner.server.id })"
    )
    span.text-muted(ng-if="!row.owner") -
  td
    span(ng-bind="row.speed.name")
    span.text-muted(ng-if="!row.speed") -
  td
    span(ng-if="row.usage")
      span(ng-bind="row.usage.percent")
      | %
    span.text-muted(ng-if="!row.usage") -
  td
    span(ng-if="row.usage")
      span(ng-bind="row.usage.max | bitsToSize")
    span.text-muted(ng-if="!row.usage") -
