doctype html
include /resources/angle/pug/mixins/form

+field("permission-groups.form.name.LABEL", "name")(
  placeholder="{{ 'permission-groups.form.name.PLACEHOLDER' | translate }}",
  ng-model="permissionGroupsForm.input.name"
)

hr
permissions(map="permissionGroupsForm.permissions")
