extends /resources/angle/pug/table-checkable

block headings
  th Name
  th Path
  th(ng-if="table.showActions") Actions

block columns
  td
    a(
      ui-sref="app.pxe.driver.view({id: row.id})"
      ng-bind="row.name"
    )
  td(ng-bind="row.path")
  td(ng-if="table.showActions")
    .btn-group.btn-group-xs
      a.btn.btn-default(
        ui-sref="app.pxe.driver.view({id: row.id})"
        translate="app.action.EDIT"
      )
