extends /resources/jade/edit

block title
  span(
    translate='pxe.iso.form.title.EDIT'
    translate-value-name='{{vm.edit.input.name}}'
  )

block form
  iso-form(form="vm.edit")  

block append left-side
  edition-list(
    iso-id="vm.edit.id"
    iso-name="vm.edit.input.name"
  )
