include /resources/jade/mixins/panel

.relative(ng-class="logs.loader.active ? 'loading' : ''")
  .loader
  +panel("{{ logs.title }}")
    table.table.table-bordered.table-striped.table-condensed.table-hover
      thead
        tr
          th Date
          th User
          th Description
      tbody
        tr(ng-repeat="log in logs.items")
          td
            a(ng-sref="app.system.log.view({id: log.id})") {{ log.created_at }}
          td {{ log.admin.name }}
          td {{ log.desc }}
    .panel-footer.clearfix(
      ng-if="logs.pages.max > 1"
    )
      .col-md-4
      pagination.col-md-8.text-right(
        pages="logs.pages"
      )
