extends /resources/jade/list-checkable

block title
  | Servers

block headings
  th.relative Server ID
    sort(col="srv_id")
  th.relative Nickname
    sort(col="nickname")
  th.relative Server IP
    sort(col="ip")
  th.relative Client
    sort(col="client")
  th.relative Status
    sort(col="status")
  th.relative CPU
    sort(col="cpu")
  th.relative Switch
    sort(col="hub")
  th.relative IP Group
    sort(col="group")
  th Actions

block columns
  td {{ row.srv_id }}
  td {{ row.nickname }}
  td {{ row.entity.name || '-' }}
  td
    a(
      ng-if="row.client"
    ) {{ row.client.name }}
    span(ng-if="!row.client") -
  td {{ row.status_desc }}
  td {{ row.cpu.name }}
  td {{ row.hub.name }}
  td {{ row.group.name || '-' }}
  td
    .btn-group.btn-group-xs
      a.btn.btn-default(ui-sref="app.hardware.server.view({id: row.id})")
        | {{ 'action.EDIT' | translate }}
