extends /resources/jade/edit

block title
  span(
    data-translate='hardware.server.form.title.EDIT'
    data-translate-value-name='{{vm.edit.input.srv_id}}'
  )

block form
  server-form(form="vm.edit")
