extends /resources/angle/pug/list-page
include /resources/angle/pug/mixins/list

block list
  list.panel.panel-default(list="vm.list")
    list-header(text="server.list.TITLE")
    server-table
    list-footer

block bottom-left
  +create-form("{{ 'server.form.title.ADD' | translate }}")
    server-form(form="vm.create")

block bottom-right
  logs(
    title="Server Logs"
    filter="vm.logs.filter"
    listen-to="vm.list"
  )
