extends /resources/pug/list-checkable

block title
  - var isInventory = typeof isInventory === "undefined" ? false : isInventory;
  - var trans = "hardware.server." + (isInventory ? 'inventory' : 'list');
  span(translate=trans+".TITLE")

block headings
  th.relative Server ID
    sort(col="srv_id")

  if isInventory
    th.relative CPU
      sort(col="cpu")
    th.relative RAM
      sort(col="mem")
    th.relative Hard Drives
      sort(col="hdds")
  else
    th.relative Nickname
      sort(col="nickname")
    th.relative Server IP
      sort(col="ip")
    th.relative Client
      sort(col="client")
    th.relative Status
      sort(col="status")
    th.relative CPU
      sort(col="cpu")

  th.relative Switch
    sort(col="hub")
  th.relative IP Group
    sort(col="group")
  th Actions

block columns
  td {{ row.srv_id }}

  if isInventory
    td {{ row.cpu.name }}
    td {{ row.mem.name }}
    td
      span(ng-repeat="hdd in row.hdd_counts track by hdd.value")
        span(ng-if="hdd.key > 1", ng-bind="hdd.key+'x '")
        span(ng-bind="hdd.value + ($last ? '' : ',')")
        br
  else
    td {{ row.nickname }}
    td {{ row.entity.name || '-' }}
    td
      a(
        ng-if="row.access"
        ui-sref="app.users.clients.view({id: row.access.client.id})"
      ) {{ row.access.client.name }}
      span(ng-if="!row.access") -
    td {{ row.status_desc }}
    td {{ row.cpu.name }}

  td {{ row.hub.name }}
  td {{ row.group.name || '-' }}
  td
    .btn-group.btn-group-xs
      a.btn.btn-default(ui-sref="app.hardware.server.view.edit({id: row.id})")
        | {{ 'app.action.EDIT' | translate }}
      a.btn.btn-default(ng-href="{{$state.href('app.hardware.server.view', {id: row.id})}}")
        | {{ 'app.action.MANAGE' | translate }}
