h3.text-center.text-thin {{ 'app.right-sidebar.layout.TITLE' | translate }}

.col-xs-12
  div.checkbox
    label.control-label
      input(
        type="checkbox"
        ng-model="app.layout.isCollapsed"
      )
      | Collapse Navigation
