include /resources/angle/pug/mixins/form

.modal-header
    h4.modal-title(translate="server.form.billing.max_bandwidth.HELP_MODAL_TITLE")
.modal-body
    p(translate="server.form.billing.max_bandwidth.HELP_MODAL")
