include /resources/angle/pug/mixins/form

+ui-select("select.select")(
  multiple
  sortable="true"
  close-on-select="false"
)
  ui-select-match(placeholder="{{ select.placeholder | translate }}")
    span(ng-bind="$item.name")
    span(ng-if="$item.v6")
      span(ng-if="$item.v4") &nbsp;+&nbsp;
      span(ng-bind="$item.v6.address")

  ui-select-choices(
    repeat=[
      "entity in (",
        "select.select.items",
        "| filter: select.filter",
      ") track by entity.id",
    ].join('')
    refresh="select.select.load($select.search)"
    refresh-delay="400"
  )
    span(ng-bind-html="entity.name | highlight: $select.search")
    | &nbsp;
    small
      | (VLAN:&nbsp;
      span(ng-bind-html="entity.vlan | highlight: $select.search")
      | {{ entity.siblings_count ? ' +'+entity.siblings_count : '' }})
    div(ng-if="entity.v6")
      small(ng-bind="entity.v6.address")
