include /resources/pug/mixins/form
block vars

form(ng-submit="modal.submit()")
  .modal-header
    button.close(
      type="button"
      ng-click="modal.$dismiss()"
    ) &times;

    h4.modal-title
      block title

  .modal-body
    block body

  .modal-footer
    block footer
